body, html {
    height: 100%;
    margin: 0;
}
body {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: white;
}
.cell {

    flex-grow: 1;
    border: solid 1px;
}
.cell:hover {
    background-color: black;
}
.row {
    display: flex;
    flex-grow: 1;
}
footer {
    padding-bottom: 20px;
}

.colors {
    height: 50px;
    width: 50px;
    background-color: red;
    
}

.rgb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.rgb-range {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
}
button {
    height: 35px;
    background-color: black;
    color: white;
}

.eraser {
    height: 50px;
}

.form {
    display: flex;
    align-items: center;
    gap: 30px;

}
#inp {
    width: 50px;
}
